{% include 'ucp_header.html' %}


<h2>{{ lang ('UNDER DEVELOPMENT') }}</h2>

{# <form id="evilsystem_forumextras_ucp" name="evilsystem_forumextras_ucp" method="post" action="{{ U_UCP_ACTION }}">

	<h2>{{ lang('UCP_FORUMEXTRAS_TITLE') }} ~ {{ lang('UCP_FORUMEXTRAS_ADDPOINTS') }}</h2>

	<div class="panel">
		<div class="inner">
			<fieldset>
				{% if S_ERROR %}
					<p class="error">{{ ERROR_MSG }}</p>
				{% endif %}

				<dl>
					<dt><label for="user_extras_addpoints">{{ lang('UCP_FORUMEXTRAS_ADDPOINTS') ~ lang('COLON') }}</label><br /><span>{{ lang('UCP_FORUMEXTRAS_ADDPOINTS_DESCRIPTION') }}</span></dt>
					<dd><input type="number" class="inputbox autowidth" min="0" size="20" maxlength="100" name="user_extras_addpoints"></dd>
				</dl>
			</fieldset>
		</div>
	</div>
	<fieldset>
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="submit" id="submit" class="button1" value="{{ lang('SUBMIT') }}" tabindex="2" />&nbsp;
				<input type="reset" name="reset" class="button2" value="{{ lang('RESET') }}" /></dd>
		</dl>
		{{ S_HIDDEN_FIELDS }}
		{{ S_FORM_TOKEN }}
	</fieldset>
</form> #}

{% include 'ucp_footer.html' %}
