{% include 'overall_header.html' %}

<h2 class="solo">Servers</h2>

<div class="action-bar bar-top">
    <a href="add" class="button" title="Post a new topic">
        <span>Add Server</span> <i class="icon fa-plus fa-fw" aria-hidden="true"></i>
    </a>
    
<div class="pagination">
 {{ SERVERS_COUNT }} servers • Page <strong>1</strong> of <strong>1</strong>
</div>

</div>

<div class="forumbg forumbg-table">
    <div class="inner">

    <table class="table1 show-header responsive" id="memberlist">
    <thead>
        <tr>
            <th class="name" data-dfn="Server Name">Servername</th>
            <th class="posts" style="padding-right: 2rem;">IP:Port</th>
            <th class="info" style="padding-left: 5rem;">Players</th>
            <th class="joined">Current Map</th>
            <th class="active">Mod</th>				
        </tr>
    </thead>
    <tbody>
                    
        <!-- BEGIN server -->
        <tr class="bg1">
            <td><a href="#">{{ server.SERVER_NAME}}</a></td>
            <td style="padding-right: 2rem;">{{ server.SERVER_IP }}:{{ server.SERVER_PORT }}</td>
            <td style="padding-left: 5rem;">16/32</td>
            <td>hns_floppytown</td>		
            <td><a href="#">{{ server.SERVER_MOD }}</a></td>
        </tr>
        <!-- END server -->
    </tbody>
</table>

</div>
</div>

{% include 'overall_footer.html' %}
