{% include 'ucp_header.html' %}

<div class="panel">
    <div class="inner">

        <ul class="topiclist missing-column">
            <li class="header">
                <dl class="row-item">
                    <dt>
                        <div class="list-inner">{{ lang('UCP_AMXXMONITORING_SERVERNAME') }}</div>
                    </dt>
                    <dd class="lastpost" style="text-align: center;"><span>{{ lang('UCP_AMXXMONITORING_IP_PORT') }}</span></dd>
					<dd class="mark">{{ lang('UCP_AMXXMONITORING_PLAYERS') }}</dd>
                </dl>
            </li>
        </ul>
        <ul class="topiclist cplist missing-column">

			{% if SERVERS_COUNT %}
			<!-- BEGIN server -->
            <li class="row bg1">
                <dl class="row-item">
                    <dt>
                        <div class="list-inner">
                            <a href="#" class="topictitle">{{ server.SERVER_NAME }}</a>
                          
                        </div>
                    </dt>
                    <dd class="lastpost" style="text-align: center;" onclick="prompt('{{ server.SERVER_NAME}}', '{{ server.SERVER_IP }}:{{ server.SERVER_PORT }}')">
						<span>
							<dfn>{{ server.SERVER_IP }}:{{ server.SERVER_PORT }}</dfn>
							{{ server.SERVER_IP }}:{{ server.SERVER_PORT }}
						</span>
					</dd>
					<dd class="mark">
						{{ server.SERVER_PLAYERS }}/{{ server.SERVER_SLOTS }}
					</dd>
                </dl>
			</li>
			<!-- END server -->
			{% endif %}
        </ul>

        <div class="action-bar bar-bottom">
            <div class="pagination">
				{{ lang('AMXXMONITORING_SERVERS_COUNT', SERVERS_COUNT) }} • {{ lang('AMXXMONITORING_PAGINATION', 1, 1)}}
			   </div>
        </div>
    </div>
</div>

{% include 'ucp_footer.html' %}
